<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
  <form>
    <mdb-form-control>
      <input name="search" [(ngModel)]="search" mdbInput type="text" id="form1" class="form-control form-control-lg mt-5" />
      <label mdbLabel class="form-label" for="form1">Search: {{search}}</label>
    </mdb-form-control>
  </form>

  <button (click)="getMovieDetail()" type="button" class="btn btn-outline-warning btn-rounded mt-2 w-100" mdbRipple>Search</button>
    </div>
  </div>
<div class="col-md-4"></div>
</div>

<div *ngIf="movieDetail" class="container my-5">

  <div class="row">
    <div class="col-md-4">



      <div class="card">
        <img [src]="movieDetail.Poster" class="card-img-top" alt="">
      </div>

    </div>
    <div class="col-md-8">

      <h2 class="mb-3">{{ movieDetail.Title }}</h2>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Year:</strong> {{ movieDetail.Year }}</li>
        <li class="list-group-item"><strong>Rated:</strong> {{ movieDetail.Rated }}</li>
        <li class="list-group-item"><strong>Released:</strong> {{ movieDetail.Released }}</li>
        <li class="list-group-item"><strong>Runtime:</strong> {{ movieDetail.Runtime }}</li>
        <li class="list-group-item"><strong>Genre:</strong> {{ movieDetail.Genre }}</li>
        <li class="list-group-item"><strong>Director:</strong> {{ movieDetail.Director }}</li>
        <li class="list-group-item"><strong>Writer:</strong> {{ movieDetail.Writer }}</li>
        <li class="list-group-item"><strong>Actors:</strong> {{ movieDetail.Actors }}</li>
        <li class="list-group-item"><strong>Plot:</strong> {{ movieDetail.Plot }}</li>
        <li class="list-group-item"><strong>Language:</strong> {{ movieDetail.Language }}</li>
        <li class="list-group-item"><strong>Country:</strong> {{ movieDetail.Country }}</li>
        <li class="list-group-item"><strong>Awards:</strong> {{ movieDetail.Awards }}</li>
        <li class="list-group-item"><strong>Metascore:</strong> {{ movieDetail.Metascore }}</li>
        <li class="list-group-item"><strong>IMDb Rating:</strong> {{ movieDetail.imdbRating }}</li>
        <li class="list-group-item"><strong>IMDb Votes:</strong> {{ movieDetail.imdbVotes }}</li>
        <li class="list-group-item"><strong>Type:</strong> {{ movieDetail.Type }}</li>
        <li class="list-group-item"><strong>DVD Release:</strong> {{ movieDetail.DVD }}</li>
        <li class="list-group-item"><strong>Box Office:</strong> {{ movieDetail.BoxOffice }}</li>
        <li class="list-group-item"><strong>Production:</strong> {{ movieDetail.Production }}</li>
        <li class="list-group-item">
          <strong>Website:</strong>
          <a [href]="movieDetail.Website" target="_blank">{{ movieDetail.Website }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
